<div style="width: 70%; margin: auto;">
   
    <h1>Customer List</h1>

    <h1 *ngIf="please_wait" style="color: red;">PLEASE WAIT...</h1>

    <div *ngIf="show_add_new_form">
        <p>Create new customer:</p>
        
        First name:
        <input type="text" [(ngModel)]="new_customer.first_name"/>
        Last name:
        <input type="text" [(ngModel)]="new_customer.last_name"/>
        Email:
        <input type="text" [(ngModel)]="new_customer.email"/>
        
        <button (click)="createCustomer()">ADD NEW</button>
        <button (click)="cancelCustomer()">CANCEL</button>
    </div>

    <button (click)="showHideForm()" *ngIf="!show_add_new_form">Show Add New Form</button>
    <br/>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr *ngFor="let customer of customers"> 
            <td>
                <span *ngIf="editing_record != customer._id">
                    {{customer.first_name}}
                </span>
                <span *ngIf="editing_record == customer._id">
                    <input type="text" [(ngModel)]="customer.first_name"/>
                </span>
            </td>
            <td>
                <span *ngIf="editing_record != customer._id">
                    {{customer.last_name}}
                </span>
                <span *ngIf="editing_record == customer._id">
                    <input type="text" [(ngModel)]="customer.last_name"/>
                </span>
            </td>
            <td>
                <span *ngIf="editing_record != customer._id">
                    {{customer.email}}
                </span>
                <span *ngIf="editing_record == customer._id">
                    <input type="text" [(ngModel)]="customer.email"/>
                </span>
            </td>
            <td>
                <span *ngIf="editing_record != customer._id">
                    <button (click)="editCustomer(customer)">EDIT</button>
                    <button (click)="deleteCustomer(customer)">DELETE</button>
                </span>
                <span *ngIf="editing_record == customer._id">
                    <button (click)="saveCustomer(customer)">SAVE</button>
                    <button (click)="cancelEditCustomer()">CANCEL</button>
                </span>
            </td>
        </tr>
    </table>

</div>
